body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
  background-image: url('./assets/recipes_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Para centrar verticalmente */
}

.container {
  max-width: 900px;
  width: 100%;
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.7); /* Más transparencia */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  color: #333;
  text-align: center;
  width: 100%;
}

form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  color: #333;
  display: block;
  margin-bottom: 5px;
  align-self: flex-start;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
}

textarea {
  resize: none;
  height: 120px;
}

input::placeholder, textarea::placeholder {
  color: #777;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
  align-self: center;
}

button:hover {
  background-color: #218838;
}

.recipe-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.recipe-item h3 {
  margin-top: 0;
  color: #333;
}

.search-bar {
  margin-bottom: 20px;
  width: 100%;
  padding: 0; /* Asegurarse de que no haya padding que afecte el ancho */
  max-width: 900px;
  display: flex;
  justify-content: center; /* Centrar el input dentro del contenedor */
}

.search-bar input {
  width: 100%; /* Ocupar todo el ancho del contenedor */
  padding: 15px; /* Padding uniforme */
  border-radius: 30px; /* Bordes redondeados */
  border: 1px solid #ddd;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  text-align: center;
  box-sizing: border-box; /* Incluir padding y borde en el cálculo del ancho */
  max-width: 100%; /* Asegurarse de que el input ocupe todo el ancho disponible */
}

.search-bar input::placeholder {
  color: #777;
}

.recipe-item p {
  color: #333;
}


.navbar {
  width: 100%;
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; /* Asegura que el navbar ocupe todo el ancho */
  z-index: 1000;
  box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
}

.navbar-logo {
  color: #fff;
  font-size: 24px;
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
}

.navbar-logo a:hover {
  color: #218838;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 10px; /* Reducir el espacio entre los elementos para ahorrar espacio */
  margin: 0;
  padding: 0;
  align-items: center;
}


.navbar-links li {
  display: inline;
}

.navbar-links a, .navbar-links button {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 12px; /* Ajuste de padding para evitar que se corte en pantallas pequeñas */
  border-radius: 5px;
  background-color: #444;
  border: none;
  cursor: pointer;
}

.navbar-links a:hover, .navbar-links button:hover {
  background-color: #218838;
  color: black;
}

.navbar-links button {
  background-color: transparent;
}


.recipe-details p {
  color: black;
}